<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

<!-- CSS -->
        <link rel="stylesheet" href="/static/css/about.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>About</title>
    </head>
<body>

<!-- Header -->
        <div class ="header">
            <nav id="nav-menu-container">
        <ul class="navbar">
          <li class="menu"><i class="fa fa-home" style="font-size: 18px;color:white"></i><a href="/">Home</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
        </ul>
            </nav><!-- #nav-menu-container -->
        </div>

<!--The content -->
<div class="container">
    <img class="background_pic" src="/static/img/background.jpg" alt="logo">
    <div class="text-block">
        <h1>About</h1>
        <i class="fa fa-address-card-o" style="font-size:24px"></i>
        <p>Art ¦ Tech ¦ Architecture ¦ Creativity ¦ Hiking </p>
     </div>
    </div>

    </body>
</html>
