<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
       <title>Title</title>
        <link rel="stylesheet" href="/static/css/boogle.css">

    </head>

<body>
<div class="container">
    <div class="google_box">
     <img class="google_pic" src="/static/img/google-logo.png" alt="logo">
    </div>

    <div class="title_box">
        <p class="title_text">One account. All of Boogle.</p>
    </div>

        <div class=<login_box>
        <p class="signing_text">Sign in with your Boogle Account</p>

            <div class="account_box">
            <img class="img_pic" src="/static/img/google-login-2.png" alt="login_picture">
                <br>
                <br>
                <input type="text" class="email_text" placeholder="Enter your email">
                <button class="button_box">Sign in</button>
                <br>
                <a href="#" class="help_text">Need help?</a>
            </div>
            <br>
            <a href="#" class="create_account">Create an account </a>
        </div>

</div>
</body>

</html>