<!DOCTYPE html>
<html>
<head>
    <title>Fakebook by Anita</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, SmartNinja">
    <link rel="stylesheet" href="/static/css/fakebook.css">
</head>
<body>
<h1>FAKEBOOK</h1>
Search: <input type="text" placeholder="search by name">
<br>
<h2>Anita Lesi</h2>
<img src="/static/img/me.jpg" alt="profil picture" width="220" height="220">
<br>
<br>
<button class="button button1">Add friend</button>
<br>
<p class="one"><strong>city: </strong>Vienna</p>
<p class="two"><strong>age: </strong>28</p>
<p class="three"><strong>education: </strong>Ninja University</p>
<p class="four"><strong>hobby: </strong>running</p>
<p class="five"><strong>FB friends: </strong>21k</p>
<p class="six"><strong>FB enemies: </strong>-21</p>
<p><strong>pet: </strong>dog</p>
</body>
</html>