<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hair&Sons</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/hair_salon.css" rel="stylesheet">

</head>

<body>

<!-- Header-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Hair&Sons</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Our Salon</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--Carousel-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="carousel-background"><img src="/static/img//hair_salon/intro-carousel/1.jpg" alt="background1"></div>
            <div class="carousel-container">
              <div class="carousel-content">
                 <h2>Uncomplicated hair</h2>
                <p>through care & craft</p>
                <a href="#featured-services" class="btn-book-an-appointment scrollto">Book an appointment</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/static/img/hair_salon/intro-carousel/2.jpg" alt="background2"></div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="static/img/hair_salon/intro-carousel/3.jpg" alt="background3"></div>
          </div>


        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
    </div>
    </div>
  </section>
  <!-- #carousel -->

  <main id="main">

<!--Find Us Section -->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="ion-ios-home-outline"></i>
            <h4 class="title"><a href="">Find Us</a></h4>
            <h5 class="description">Netil House, 1 Westgate, Vienna</h5>
              <p>/+(44) 020 3456 7321</p>

          </div>

          <div class="col-lg-4 box box-bg">
            <i class="ion-ios-alarm-outline"></i>
            <h4 class="title"><a href="">Opening Hours</a></h4>
            <p class="description">Mon - Fri: 10:00 - 18:00</p>
          </div>

          <div class="col-lg-4 box">
            <i class="ion-ios-heart-outline"></i>
            <h4 class="title"><a href="">Sharing is caring</a></h4>
            <p class="description">If you are satisfied with the service, please share your experience with your friends.</p>
          </div>

        </div>
      </div>
    </section><!-- #find us -->

    <!--About Us Section-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <br>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="/static/img/hair_salon/about-misson.jpg" alt="about misson" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
              We specialise in modern cuts and colour, with an emphasis on the long-term condition of your hair. Because we use Organic Colour Systems, all of our products contain gentle, nourishing, natural ingredients and avoid any harsh or damaging chemical additives.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="/static/img/hair_salon/about-vision.jpg" alt="about vision" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
              Our products are sustainably sourced, non-animal tested and wherever possible the ingredients are fair trade and organic. All our packaging is recyclable and we are always working to come up with inventive new ways to lower our carbon footprint.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="/static/img/hair_salon/about-booking-policy.jpg" alt="booking policy" class="img-fluid">
                <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Booking policy</a></h2>
              <p>
              Please arrive on time to ensure you receive your full service. If you are running late, we will do everything we can to accommodate you. If you are excessively late, please keep in mind that we may have to reschedule your appointment.
              </p>
              <br>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--Services Section-->
    <section id="services">
      <div class="container">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <br>
        </header>

        <div class="row">
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">

            <div class="icon"><i class="ion-ios-body-outline"></i></div>
            <h4 class="title"><a href="">Cutting & Styling</a></h4>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-color-wand-outline"></i></div>
            <h4 class="title"><a href="">Coloring</a></h4>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-medkit-outline"></i></div>
            <h4 class="title"><a href="">Treatments</a></h4>
        </div>

      </div>
      </div>
    </section>
    <!-- #services -->

<!--Book an appointment-->
    <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Book an appointment</h3>
        <a class="cta-btn" href="#">Book an appointment</a>
      </div>
    </section>
<!-- book an appointment -->

<!--Gallery Section-->
    <section id="portfolio"  class="section-bg" >
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Salon</h3>
        </header>

        <div class="row portfolio-container">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <figure>
                <img src="/static/img/hair_salon/portfolio/1.jpg" class="img-fluid" alt="">
                <a href="/static/img/hair_salon/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"></a>
              </figure>
            </div>
          </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <figure>
                <img src="/static/img/hair_salon/portfolio/2.jpg" class="img-fluid" alt="">
                <a href="/static/img/hair_salon/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"></a>
              </figure>
            </div>
            </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <figure>
                <img src="/static/img/hair_salon/portfolio/3.jpg" class="img-fluid" alt="">
                <a href="/static/img/hair_salon/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"></a>
              </figure>
              </div>
            </div>

        </div>

      </div>
    </section><!-- #gallery -->

<!--Team Section-->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>Hair Styling World Award</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="static/img/hair_salon/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Esme Horn</h4>
                  <span>Chief Executive Officer</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="/static/img/hair_salon/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Lucy Vincent</h4>
                  <span>Stylist</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="/static/img/hair_salon/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>Stylist</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="/static/img/hair_salon/team-5.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Michelle Garwood</h4>
                  <span>Stylist</span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

<!--Contact Section-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Netil House, 1 Westgate St. Vienna</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="">+(44) 020 3456 7321</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="">info@hairsons.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section>
<!-- #contact -->

  </main>

<!--Footer -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
           <span class="copyright">Copyright &copy; Hair Salon 2019</span>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
              <p class="terms"><a href="#">Terms of service</a></p>
              <p class="policy"><a href="#">Privacy policy</a></p>
          </div>
          </div>

        </div>
      </div>
  </footer>
<!--Footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Optional JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>