<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
         <title>Anita Lesi</title>

<!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>

    <body>

<!-- Header -->
        <div class ="header">
            <nav id="nav-menu-container">
        <ul class="navbar">
          <li class="menu"><a href="/about">About</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
        </ul>
            </nav><!-- #nav-menu-container -->
        </div>

<!--The content -->
<div class="container">
    <img class="background_pic" src="/static/img/background.jpg" alt="logo">
    <div class="text-block">
        <h1>Anita Lesi</h1>
        <p>During my free time, I satisfy my geeky desires by building stuff in the hopes of making the world a better place, one step at a time.</p>
        <p>You can see some of my projects<a href="portfolio"> here</a>.</p>
        <a class="github-button" href="https://github.com/anitalesi" data-size="large" aria-label="Follow @anitalesi on GitHub">Follow</a>
    </div>
   </div>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>

