* {
  box-sizing: border-box;
}

/* Style of the body */
html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: white;
  text-decoration: none;
}

/* Header/Title */
.header {
  padding: 2px;
  background: linear-gradient(to right, #138572, #1ab298);
  color: black;
  text-align: right;
}


/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 6px 20px;
  text-decoration: none;
  text-align: right;
}

li{
  display: inline;
  text-decoration: none;
  border-right: 1px solid #bbb;
  letter-spacing: 2px;
  word-spacing: 10px;
  font-size: 18px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 50px;
}

/* Container holding the image and the text */
.contaniner{
    position: relative;
}

.background_pic{
    width: 100%;
    height: 698px;
}

.text-block {
  position: absolute;
  bottom: 300px;
  right: 990px;
  left: 90px;
  /*background: #adabab; /* Fallback color */
  /*background: #70a394;*/
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 398px;
  height: 320px;
  word-spacing: 3px;
  color: white;
}

h1{
  font-size: 22px;
  color: #54119e;
  word-spacing: 4px;
}

p{
  color: white;
}

a{
  text-decoration: none;
}
